<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pokemon - INDEX Page</title>
    <style type="text/css">
        body {
          color: blanchedalmond;
          background-color: steelblue;
        }
    </style>
</head>
<body>
    <h1>THE POKEDEX</h1>
    <!-- Add a background-color and text color to the body, inside your <style> tag to be sure it is working as expected. Example: -->
</body>
</html>