<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pokemon - INDEX Page</title>
    <style type="text/css">
        body {
          color: blanchedalmond;
          background-color: steelblue;
        }
    </style>
</head>
<body>
    <h1>THE POKEDEX</h1>

    <ul>

    <!-- ALL JAVASCRIPT goes in CHERRIES -->
    <!-- ANYTHING that needs to be inserted into HTML needs an "=" -->
        <% for (i=0;i<selectedPokemon.length;i++) { %>
            <% var titlePokemon = selectedPokemon[i].name %>
            <% titlePokemon = titlePokemon[0].toUpperCase() + titlePokemon.slice(1); %>
            <li><%= titlePokemon %></li>
        <% } %>

    </ul>

    <!-- Manipulate the data to capitalize the first letter of their names -->
</body>
</html>