<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>NEW Product</title>
    <link rel="stylesheet" href="/css/app.css">
</head>
<body>
    <form action="/store" and method="POST">
        Name: <input class="indented-forms" type="text" name="name" /><br/>
        Description: <textarea class="indented-forms" cols="30" rows ="10" name="description"></textarea><br/>
        Image URL: <input class="indented-forms" type="text" name="img" /><br/>
        Price: <input class="indented-forms" type="number" name="price" min="1" /><br/>
        Quantity: <input class="indented-forms" type="number" name="qty" min="1" /><br/>

        <input type="submit" name="" value="Add NEW PRODUCT"/>
    </form><br/><br/>
    <a href="/store">BACK to MAIN Page</a>

</body>
</html>