<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>NEW Log</title>
</head>
<body>
    <form action="/logs" and method="POST">
        Title: <input type="text" name="title" /><br/>
        Entry: <input type="textarea" name="entry" /><br/>
        Ship is Broken?: <input type="checkbox" name="shipIsBroken" /><br/>
        <input type="submit" name="" value="Create NEW LOG"/>
    </form>
    <a href="/logs">BACK to MAIN Page</a>

</body>
</html>