<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1>SHOW page</h1>
            <h3><%=logs.title; %> reports:</h3>
            <p>
                <%=logs.entry; %>
            </p>
            <p>
                <% if(logs.shipIsBroken === true){ %>
                    Currently, the ship needs repairs.
                <% } else { %>
                    <b>Ship Status</b>: The ship is in good working order.
                <% } %>
            </p>
        <a href="/logs">Go BACK</a>

    </body>
</html>