<!DOCTYPE html>
<html>
    <head>
            <link rel="stylesheet" href="/css/app.css">

    </head>
    <body>
        <h1>The Store</h1>
        <ul>
            <% for(let i = 0; i < products.length; i++){ %>
                <li>
                    <a href="/store/<%=products[i].id; %>">
                        <%=products[i].name%>
                    </a>
                    <% } %>
                </li>
        </ul>
        <a href="/store/new">ADD a NEW Fruit</a>
    </body>
</html>