<!DOCTYPE html>
<html>
    <head>
            <link rel="stylesheet" href="/css/app.css">

    </head>
    <body>
        <div class="container">

            <h1>The Store</h1>
                <% for(let i = 0; i < products.length; i++){ %>
                    <div class='product-card'>
                        <a href="/store/<%=products[i].id; %>">
                            <%=products[i].name%>
                        </a>
                        <a href="/store/<%=products[i].id; %>">
                            <img src="<%=products[i].img%>"/>
                        </a>
                    </div>
                <% } %>

            <a href="/store/new">ADD a NEW Product</a>

        </div>
    </body>
</html>