body {
    /* background-image: url("https://st3.depositphotos.com/4109649/17301/i/1600/depositphotos_173013106-stock-photo-pirate-ship-on-the-sea.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: 55% 45%; */

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

form {
    display: inline;
}

h1 {
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
}

input[type=text] {
    /* border: 2px solid darkblue; */
    border-radius: 4px;
  }

input[type=number] {
/* border: 2px solid darkblue; */
border-radius: 4px;
}

input[type=submit] {
    border: 2px solid darkblue;
    background: darkblue;
    color: white;
    border-radius: 4px;
}

textarea {
    /* border: 2px solid darkblue; */
    border-radius: 4px;
}

.small {
    font-size: small;
}

.small > a {
text-decoration: none;
}

#buy {
    border: 2px solid darkblue;
    background: lightskyblue;
    font-weight: bold;
    border-radius: 4px;
}

#delete {
    border: 2px solid darkred;
    background: lightcoral;
    color: black;
    font-weight: bold;
    border-radius: 4px;
}